.postEditor {
    margin: 20px auto;
    border: 0.8px solid gray;
    border-radius: 20px;
    padding: 20px;
}

.space{
    height: 10px;
}

.spacePost{
    height: 30px;
}

.post {
    margin: auto;
}