:root {
    --brand_pink: var(--Pi5);
    --brand_pink_thin: var(--Pi1);
    --brand_blue: var(--Lb5);
    --brand_blue_thin: var(--Lb1);
    --stress_red: var(--Re5);
    --stress_red_thin: var(--Re1);
    --success_green: var(--Gr5);
    --success_green_thin: var(--Gr1);
    --operate_orange: var(--Or5);
    --operate_orange_thin: var(--Or1);
    --pay_yellow: var(--Ye5);
    --pay_yellow_thin: var(--Ye1);
    --bg1: var(--Wh0);
    --bg2: var(--Ga0);
    --bg3: var(--Ga1);
    --bg1_float: var(--Ga11);
    --bg2_float: var(--Ga12);
    --border: var(--Bd);
    --text_white: var(--Wh0);
    --text1: var(--Ga10);
    --text2: var(--Ga7);
    --text3: var(--Ga5);
    --text4: var(--Ga3);
    --text_link: var(--Lb6);
    --text_notice: var(--Ye6);
    --line_light: var(--Ga1_s);
    --line_regular: var(--Ga2);
    --line_bold: var(--Ga3);
    --graph_white: var(--Wh0);
    --graph_bg_thin: var(--Ga0_s);
    --graph_bg_regular: var(--Ga1_s);
    --graph_bg_thick: var(--Ga2);
    --graph_weak: var(--Ga3);
    --graph_medium: var(--Ga5);
    --graph_icon: var(--Ga7);
    --shadow: var(--Ba0);
    --bg_blur: var(--blur);

    --blur: rgba(255, 255, 255, 0.72);
    --Bd: #e5e9ef;
    --Ga0: #F6F7F8;
    --Ga0_s: #F6F7F8;
    --Ga0_t: #F6F7F8;
    --Ga1: #F1F2F3;
    --Ga1_s: #F1F2F3;
    --Ga1_t: #F1F2F3;
    --Ga1_e: #F1F2F3;
    --Ga2: #E3E5E7;
    --Ga2_t: #E3E5E7;
    --Ga3: #C9CCD0;
    --Ga3_t: #C9CCD0;
    --Ga4: #AEB3B9;
    --Ga4_t: #AEB3B9;
    --Ga5: #9499A0;
    --Ga5_t: #9499A0;
    --Ga6: #797F87;
    --Ga6_t: #797F87;
    --Ga7: #61666D;
    --Ga7_t: #61666D;
    --Ga8: #484C53;
    --Ga8_t: #484C53;
    --Ga9: #2F3238;
    --Ga9_t: #2F3238;
    --Ga10: #18191C;
    --Ga10_t: #18191C;
    --Ga11: #FFFFFF;
    --Ga12: #F1F2F3;
    --Wh0: #FFFFFF;
    --Wh0_t: #FFFFFF;
    --Ba0: #000000;
    --Ba0_s: #000000;
    --Ba0_t: #000000;
    --Pi0: #FFF3F6;
    --Pi1: #FFECF1;
    --Pi2: #FFD9E4;
    --Pi3: #FFB3CA;
    --Pi4: #FF8CB0;
    --Pi5: #FF6699;
    --Pi5_t: #FF6699;
    --Pi6: #E84B85;
    --Pi7: #D03171;
    --Pi8: #AD1C5B;
    --Pi9: #771141;
    --Pi10: #3F0723;
    --Ma0: #FEF3FC;
    --Ma1: #FDEBFA;
    --Ma2: #FBD7F4;
    --Ma3: #F7AEEB;
    --Ma4: #F286E2;
    --Ma5: #EE5DDB;
    --Ma6: #DA41CB;
    --Ma7: #C525BA;
    --Ma8: #9B1797;
    --Ma9: #670F67;
    --Ma10: #330834;
    --Re0: #FEF3F2;
    --Re1: #FEECEA;
    --Re2: #FDD7D4;
    --Re3: #FCAFAA;
    --Re4: #FA857F;
    --Re5: #F85A54;
    --Re6: #E23D3D;
    --Re7: #C9272C;
    --Re8: #9F1922;
    --Re9: #710E18;
    --Re10: #3B060D;
    --Or0: #FFF6EE;
    --Or1: #FFF0E3;
    --Or2: #FFE1C7;
    --Or3: #FFC18F;
    --Or4: #FFA058;
    --Or5: #FF7F24;
    --Or6: #E95B03;
    --Or7: #BB4100;
    --Or8: #8D2D00;
    --Or9: #5E1B00;
    --Or10: #2F0C00;
    --Ye0: #FFFAEF;
    --Ye1: #FFF6E4;
    --Ye2: #FFEEC9;
    --Ye3: #FFDB93;
    --Ye4: #FFC65D;
    --Ye5: #FFB027;
    --Ye6: #E58900;
    --Ye7: #B76800;
    --Ye8: #8A4A00;
    --Ye9: #5B2E00;
    --Ye10: #2F1600;
    --Ly0: #FFFCEC;
    --Ly1: #FFFADF;
    --Ly2: #FFF5BF;
    --Ly3: #FFEA80;
    --Ly4: #FFDC40;
    --Ly5: #FFCC00;
    --Ly6: #D5A300;
    --Ly7: #AA7D00;
    --Ly8: #805A00;
    --Ly9: #553900;
    --Ly10: #2B1B00;
    --Lg0: #F7FBEF;
    --Lg1: #F2F9E4;
    --Lg2: #E3F2C8;
    --Lg3: #C7E691;
    --Lg4: #A9D95B;
    --Lg5: #88CC24;
    --Lg6: #66B105;
    --Lg7: #4E8E04;
    --Lg8: #376A03;
    --Lg9: #224702;
    --Lg10: #102301;
    --Gr0: #EFFBF3;
    --Gr1: #E4F8EA;
    --Gr2: #CAF1D6;
    --Gr3: #95E4AF;
    --Gr4: #5FD689;
    --Gr5: #2AC864;
    --Gr6: #0EB350;
    --Gr7: #089043;
    --Gr8: #046E35;
    --Gr9: #034926;
    --Gr10: #012414;
    --Cy0: #EDFBFB;
    --Cy1: #E2F8F8;
    --Cy2: #C4EFF0;
    --Cy3: #89E1E1;
    --Cy4: #4FD3D1;
    --Cy5: #14C4BF;
    --Cy6: #02AAAA;
    --Cy7: #018488;
    --Cy8: #015F66;
    --Cy9: #013D44;
    --Cy10: #001D22;
    --Lb0: #ECFAFE;
    --Lb1: #DFF6FD;
    --Lb2: #BFEDFA;
    --Lb3: #80DAF6;
    --Lb4: #40C5F1;
    --Lb5: #00AEEC;
    --Lb6: #008AC5;
    --Lb7: #00699D;
    --Lb8: #004B76;
    --Lb9: #002F4F;
    --Lb10: #001627;
    --Bl0: #F3F5FF;
    --Bl1: #EBEFFF;
    --Bl2: #D7DFFF;
    --Bl3: #B0C1FF;
    --Bl4: #88A4FF;
    --Bl5: #6188FF;
    --Bl6: #4C6DE4;
    --Bl7: #3752C8;
    --Bl8: #2136AC;
    --Bl9: #121F7F;
    --Bl10: #080D41;
    --Pu0: #F9F4FF;
    --Pu1: #F6EDFF;
    --Pu2: #EDDBFF;
    --Pu3: #D8B6FF;
    --Pu4: #C392FF;
    --Pu5: #AC6DFF;
    --Pu6: #8F56E4;
    --Pu7: #723ECC;
    --Pu8: #5627B3;
    --Pu9: #371683;
    --Pu10: #190A44;
    --Br0: #FAF8F6;
    --Br1: #F7F3F0;
    --Br2: #EFE7E0;
    --Br3: #E0CFC1;
    --Br4: #D0B7A3;
    --Br5: #C19D84;
    --Br6: #A5816A;
    --Br7: #856553;
    --Br8: #634A3E;
    --Br9: #423029;
    --Br10: #211815;
    --Si0: #F9FBFC;
    --Si1: #F5F7FA;
    --Si2: #EBEFF4;
    --Si3: #D7E0EA;
    --Si4: #C3D0DF;
    --Si5: #AFC0D5;
    --Si6: #8D9FB9;
    --Si7: #6D7F9C;
    --Si8: #4D5D7C;
    --Si9: #323D54;
    --Si10: #191E2B;
    --bili-blue: #23ADE5;
    --bili-pink: #FB7299;
}

html[theme="dark"] {
    --blur: rgba(0, 0, 0, 0.72);
    --Bd: #2F3134 !important;
    --Ga0: #0D0D0E !important;
    --Ga0_s: #1E2022 !important;
    --Ga0_t: #1E2022 !important;
    --Ga1: #000000 !important;
    --Ga1_s: #232527 !important;
    --Ga1_t: #232527 !important;
    --Ga1_e: #232527 !important;
    --Ga2: #2F3134 !important;
    --Ga2_t: #2F3134 !important;
    --Ga3: #46494D !important;
    --Ga3_t: #46494D !important;
    --Ga4: #5E6267 !important;
    --Ga4_t: #5E6267 !important;
    --Ga5: #757A81 !important;
    --Ga5_t: #757A81 !important;
    --Ga6: #8B9097 !important;
    --Ga6_t: #8B9097 !important;
    --Ga7: #A2A7AE !important;
    --Ga7_t: #A2A7AE !important;
    --Ga8: #B9BDC2 !important;
    --Ga8_t: #B9BDC2 !important;
    --Ga9: #D0D3D7 !important;
    --Ga9_t: #D0D3D7 !important;
    --Ga10: #E7E9EB !important;
    --Ga10_t: #E7E9EB !important;
    --Ga11: #242628 !important;
    --Ga12: #1F2022 !important;
    --Wh0: #17181A !important;
    --Wh0_t: #17181A !important;
    --Ba0: #000000 !important;
    --Ba0_s: #FFFFFF !important;
    --Ba0_t: #000000 !important;
    --Pi0: #26161C !important;
    --Pi1: #2F1A22 !important;
    --Pi2: #472030 !important;
    --Pi3: #76304B !important;
    --Pi4: #A73E65 !important;
    --Pi5: #D44E7D !important;
    --Pi5_t: #D44E7D !important;
    --Pi6: #DC6D94 !important;
    --Pi7: #E38CAA !important;
    --Pi8: #EBABC1 !important;
    --Pi9: #F2CAD8 !important;
    --Pi10: #FAE9EF !important;
    --Ma0: #261525 !important;
    --Ma1: #2E182D !important;
    --Ma2: #461C43 !important;
    --Ma3: #72296C !important;
    --Ma4: #A13396 !important;
    --Ma5: #CB41BB !important;
    --Ma6: #D462C7 !important;
    --Ma7: #DD83D3 !important;
    --Ma8: #E6A4DE !important;
    --Ma9: #EFC5EA !important;
    --Ma10: #F8E6F6 !important;
    --Re0: #261314 !important;
    --Re1: #2E1617 !important;
    --Re2: #471A1C !important;
    --Re3: #742728 !important;
    --Re4: #A63131 !important;
    --Re5: #D1403E !important;
    --Re6: #D9615F !important;
    --Re7: #E18281 !important;
    --Re8: #E9A3A2 !important;
    --Re9: #F1C5C4 !important;
    --Re10: #F9E5E5 !important;
    --Or0: #28180F !important;
    --Or1: #301B10 !important;
    --Or2: #4A230E !important;
    --Or3: #783610 !important;
    --Or4: #A9490D !important;
    --Or5: #D66011 !important;
    --Or6: #DD7C3A !important;
    --Or7: #E49764 !important;
    --Or8: #EBB38D !important;
    --Or9: #F2CEB6 !important;
    --Or10: #FAEADF !important;
    --Ye0: #2A1E0F !important;
    --Ye1: #342410 !important;
    --Ye2: #4D300B !important;
    --Ye3: #7C4C08 !important;
    --Ye4: #AD6800 !important;
    --Ye5: #DB8700 !important;
    --Ye6: #E19C2C !important;
    --Ye7: #E7B158 !important;
    --Ye8: #EEC584 !important;
    --Ye9: #F4DAB1 !important;
    --Ye10: #FAEFDD !important;
    --Ly0: #2A2310 !important;
    --Ly1: #332A11 !important;
    --Ly2: #49390C !important;
    --Ly3: #745909 !important;
    --Ly4: #A27C00 !important;
    --Ly5: #CCA000 !important;
    --Ly6: #D5B02C !important;
    --Ly7: #DEC158 !important;
    --Ly8: #E7D184 !important;
    --Ly9: #EFE2B1 !important;
    --Ly10: #F8F2DD !important;
    --Lg0: #19220F !important;
    --Lg1: #1E2911 !important;
    --Lg2: #273C0E !important;
    --Lg3: #3C600F !important;
    --Lg4: #50840B !important;
    --Lg5: #67A70E !important;
    --Lg6: #81B638 !important;
    --Lg7: #9CC562 !important;
    --Lg8: #B6D58B !important;
    --Lg9: #D0E4B5 !important;
    --Lg10: #EBF3DF !important;
    --Gr0: #102017 !important;
    --Gr1: #11271B !important;
    --Gr2: #123923 !important;
    --Gr3: #175C34 !important;
    --Gr4: #198042 !important;
    --Gr5: #1FA251 !important;
    --Gr6: #46B26F !important;
    --Gr7: #6DC28D !important;
    --Gr8: #93D2AB !important;
    --Gr9: #BAE2C9 !important;
    --Gr10: #E1F3E8 !important;
    --Cy0: #0C1F20 !important;
    --Cy1: #0D2627 !important;
    --Cy2: #093739 !important;
    --Cy3: #085B5C !important;
    --Cy4: #028080 !important;
    --Cy5: #03A29F !important;
    --Cy6: #2FB2B0 !important;
    --Cy7: #5AC2C0 !important;
    --Cy8: #86D2D1 !important;
    --Cy9: #B2E2E1 !important;
    --Cy10: #DDF3F3 !important;
    --Lb0: #0A1B23 !important;
    --Lb1: #0B202A !important;
    --Lb2: #082D40 !important;
    --Lb3: #064A69 !important;
    --Lb4: #006996 !important;
    --Lb5: #0087BD !important;
    --Lb6: #2C9CC8 !important;
    --Lb7: #58B1D4 !important;
    --Lb8: #84C5DF !important;
    --Lb9: #B1DBEB !important;
    --Lb10: #DDEFF6 !important;
    --Bl0: #151826 !important;
    --Bl1: #181C2F !important;
    --Bl2: #1F2748 !important;
    --Bl3: #2E3C76 !important;
    --Bl4: #3B53A8 !important;
    --Bl5: #4B6BD4 !important;
    --Bl6: #6A85DB !important;
    --Bl7: #899EE3 !important;
    --Bl8: #A9B8EA !important;
    --Bl9: #C8D2F2 !important;
    --Bl10: #E7EBF9 !important;
    --Pu0: #1D1628 !important;
    --Pu1: #221A31 !important;
    --Pu2: #31214C !important;
    --Pu3: #4E317D !important;
    --Pu4: #6D3FB1 !important;
    --Pu5: #8C50E0 !important;
    --Pu6: #A06EE5 !important;
    --Pu7: #B48DEB !important;
    --Pu8: #C8ABF0 !important;
    --Pu9: #DBC9F5 !important;
    --Pu10: #F0E8FB !important;
    --Br0: #211D1B !important;
    --Br1: #282320 !important;
    --Br2: #382F2A !important;
    --Br3: #59483F !important;
    --Br4: #7A6154 !important;
    --Br5: #9A7C6A !important;
    --Br6: #AC9384 !important;
    --Br7: #BDA99E !important;
    --Br8: #CEBFB7 !important;
    --Br9: #E0D7D1 !important;
    --Br10: #F2EEEB !important;
    --Si0: #212325 !important;
    --Si1: #27292C !important;
    --Si2: #36393F !important;
    --Si3: #535962 !important;
    --Si4: #6F7987 !important;
    --Si5: #8C99AA !important;
    --Si6: #A0ABB9 !important;
    --Si7: #B4BCC7 !important;
    --Si8: #C8CED6 !important;
    --Si9: #DCE0E5 !important;
    --Si10: #F0F2F4 !important;
    --bili-blue: #FB7299 !important;
    --bili-pink: #23ADE5 !important;
}