main{
    display: flex;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 50px 60px;
}

main div{
    padding:  10px 0;
}

.header{
    font-size: 20px;
}

.login-info{
    display: flex;
    align-items: center;
    border: 1px solid var(--Ga2);
    border-radius: 8px 8px 0 0;
    height: 43px;
    padding: 0 20px;
    text-align: left;
}

.login-info:last-child{
    border-radius:0 0 8px 8px ;
}

.login-info span{
    margin-right: 20px;
    font-size: 14px;
    width: 65px;
    color: var(--text1);
}

.login-info input{
    outline: none;
    border: none;
    font-size: 14px;
    width: 220px;
    color: var(--text1);
}

.button-area{
    display: flex;
    justify-items: center;
    justify-content: center;
}

.button-area button{
    margin-right: 20px;
    border-radius: 5px;
    border: 1px solid var(--Ga2);
    background-color: var(--bili-blue);
    padding: 0 20px;
    color: var(--text_white);
    cursor: pointer;
    transition: 0.4s;
    height: 35px;
    width: calc(50% - 20px);
}

.button-area button:first-child{
    background-color: var(--bg1_float);
    color: var(--text1);
}

.button-area button:last-child{
    margin-left: 20px;
    margin-right: 0;
}

.button-area button:hover{
    opacity: 0.8;
}