main{
    --width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    width: var(--width);
    margin-left: calc(50% - (var(--width)/2));
}

.user-info-cul{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cul-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cul-item-head-container{
    position: relative;
    margin-bottom: 15px;
    width: 100%;
}

.cul-item-head{
    position: absolute;
    color: var(--text1);
    font-size: 14px;
    left: 5px;
}


.cul-item-input{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 3em;
    margin: 18px 0;
    line-height: 18px;
    font-size: 18px;
    position: relative;
}

.cul-item-input input{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid var(--Ga2);
    padding: 18px 20px 0 20px;
    line-height: inherit;
    font-size: inherit;
    text-align: left;
    background: transparent;

}

.cul-item-input input:focus{
    border-color: rgb(0, 160, 255);
}

.cul-item-placeholder{
    position: absolute;
    left: 20px;
    color: var(--text3);
    z-index: -1;
    top: 18px;
    transition: 0.2s;
}

.cul-item-input input:focus~.cul-item-placeholder{
    font-size: 12px;
    top: 5px;
}

.cul-item-placeholder-fixed{
    color: var(--text3);
    z-index: -1;
    position: absolute;
    left: 20px;
    font-size: 12px;
    top: 5px;
}

.item-space{
    width: 100%;
    margin: 15px 0;
}