.settingBar {
    float: left;
    position: fixed;
    width:15%;
    height: 100vh;
    border-right: solid 0.8px #dee2e6;
}

.settingTopSpace{
    height: 50px;
}

.singleSetting {
    height: 120px;
    border-bottom: solid 0.8px #dee2e6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settingName {
    margin: 30px auto;
    font-size: 18px;
}

.singleSetting:hover{
    background-color: #e5e5e5;
    cursor: pointer;
}

.settingPerson{
    margin-left: 15%;
}

.settingImage{
    float: left;
    margin: 0px 200px;
    height: 160px;
    width: 160px;
    border: 0.8px solid gray;
    border-radius: 50%;
}

.settingFileUpload{
    float: left;
    margin: 60px 0 60px 0;
    width: 300px;
}

.update{
    width: 60%;
    margin: 100px auto 30px auto;
    height: 120px;
}

.updateImageSize{
    float: left;
    font-size: 20px;
    margin-right: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

.uploadImage{
    float: left;
}

.updateDescriptionSize{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 60%;
    margin: 10px auto 50px auto;
}

.uploadDescription{
    width: 29.5%;
    float: right;
    margin-top: 80px;
}

.uploadImageButton{
    float: left;
    margin-left: 80px;
}

.descriptionInput{
    width: 60%;
    margin: auto;
}