.verticalBar {
    float: left;
    position: fixed;
    margin-top: 60px;
    width:12%;
    height: 100vh;
    border-right: solid 0.8px #dee2e6;
}

.userHome {
    height: 60px;
    border-bottom: solid 0.8px #dee2e6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.userHome:hover{
    background-color: #e5e5e5;
    cursor: pointer;
}

.friends {
    height: 60px;
    border-bottom: solid 0.8px #dee2e6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.friends:hover{
    background-color: #e5e5e5;
    cursor: pointer;
}

.history {
    height: 60px;
    border-bottom: solid 0.8px #dee2e6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.history:hover{
    background-color: #e5e5e5;
    cursor: pointer;
}

.setting {
    height: 60px;
    border-bottom: solid 0.8px #dee2e6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.setting:hover{
    background-color: #e5e5e5;
    cursor: pointer;
}

.contents {
    float: right;
    margin-top: 60px;
    width:88%;
}

.test {
    margin: 200px;
    width:200px;
    height:200px;
    border: 0.8px solid gray;
}

.Person{
    margin: 40px auto;
    width: 60%;
    height: 240px;
}

.image{
    float: left;
    margin: 40px;
    height: 160px;
    width: 160px;
    border: 0.8px solid gray;
    border-radius: 50%;
}

.username{
    float: right;
    margin: 40px 20px 20px 0px;
    width: 70%;
    height: 60px;
    font-size: 35px;
}

.description{
    float: right;
    margin:5px 20px 20px 0px;
    width: 70%;
    height: 70px;
    font-size: 20px;
    border: 0.8px solid gray;
}

.postArea {
    border: 0.8px solid gray;
    width: 60%;
    height: 400px;
    margin: 40px auto;
}